@font-face {
    font-family: 'bubble_bobbleregular';
    src: url('fonts/bubble/bubblebobble-rg3rx-webfont.woff2') format('woff2'),
         url('fonts/bubble/bubblebobble-rg3rx-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



body {
  background-color: #4E60F0;
}

nav {
  background-color: #75D7F0;
}


/* Navigation Section  */

#title {
  text-align: left;
}

#title .container-fluid {
  padding: 0.5% 15%;
}


.nav-item-test a{
  color: #FFF;
  padding: 150px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0px 20px;
}

/* TITLE SECTION  */


.item-pad {
  font-family: 'bubble_bobbleregular', arial , sans-serif;
  letter-spacing: .10rem;
}

.item-pad-button {
  border-style: solid;
  border-radius: 30px;
  border-color: #FFF;
  font-family: 'bubble_bobbleregular', arial , sans-serif;
  letter-spacing: .10rem;
  width: 85px;
}

.row-test {
  display: none;
}

.col-lg-6 img {
  width: 100%;
}

.button-custom {
  background-color: #75D7F0;
}

.title-container {
  color: #FFF;
  text-align: center;
  font-family: 'bubble_bobbleregular';
  letter-spacing: .10rem;
  margin: 10% auto 5%;
  padding: 0px 15%;
}


.gradient-text {
  background-image: linear-gradient(60deg, #FFB03A, #E21143);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* Listed on Section */

.listed {
  background-color: #75D7F0;
  font-family: 'bubble_bobbleregular', arial , sans-serif;
  color: #fff;
}

.list-padding {
  padding: 15px 0px 40px;
}

.listed-title {
  text-align: center;
  padding: 20px 0px;
}

/* About Section */

#about {
  background-color: #fff;
  font-family: 'bubble_bobbleregular', arial , sans-serif;
  padding: 40px 15%;
  letter-spacing: .1rem;

}

.h1-margin {
  margin: 2% auto;
  text-align: center;
}

.p-about {
  text-align: center;
}

.center-test.col-lg-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
}

/* Tokenomics Section */

#tokenomics {
  color: #fff;
  font-family: 'bubble_bobbleregular', arial , sans-serif;
  padding: 40px 15%;
  letter-spacing: .1rem;
}


/* Roadmap section */

#roadmap {
background-color: #75D7F0;
font-family: 'bubble_bobbleregular', arial , sans-serif;
color: #fff;
height: 250px;
}

.roadmap-title {
  text-align: center;
  padding-top: 50px;
}

/* Socials Section */

#socials {
  text-align: center;
  background-color: #fff;
  font-family: 'bubble_bobbleregular', arial , sans-serif;
  letter-spacing: .1rem;
  padding: 40px 0px;

}

.icon-custom {
  font-size: 125px;
}

.icon-margin {
  padding-top: 25px;
}

.tg {
  color: #1D9DDA;
}

.twt {
  color: #00ACEF;
}

.yt {
  color: #FF2021;
}

.tik {
  width: 200px;
  height: auto;
}

/* footer */

#footer-section {
  height: 100px;
  font-family: 'bubble_bobbleregular', arial , sans-serif;
  letter-spacing: .1rem;
  background: #4E60F0;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Mobile responsive */



/* Title section */

@media (min-width: 992px) and (max-width:1999.98px) {

  .row-test {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.title-mobile {
  display: none;
  padding-top: 50px;
}

@media (min-width: 0px) and (max-width:991px) {
  .title-mobile {
    display: block;
    padding-top: 50px 15%;
  }

  .title-mobile-img {
    width: 100%;
  }
}
